.button{
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100 100 100 100;
    -fx-cursor: wait;

    /*-fx-background-color: linear-gradient(to top left, #003366 0%, #663300 100%) ;*/
}



#superStage{
    -fx-background-color: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%) ;

}

#superPane{
    -fx-background-color: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%) ;

}

#regisPane{
    -fx-background-color: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%) ;

}